{% extends 'base.html.twig' %}

{% block title %}KickScore{% endblock %}

{% block body %}

<div class="example-wrapper w-full h-full">
    <!-- Content wrapper -->
    <div class="flex flex-row bg-amber-50 w-full h-full">

        <!-- Left panel - Menu -->
        <div class="bg-red-700 text-white flex-1">
            <h1 class="text-2xl">KickScore</h1>
            {% if app.user %}
                <p> Connecté en tant que {{ app.user.mail }}</p>
                <div class="mt-4">
                    <a href="{{ path('app_logout') }}" class="bg-blue-500 hover:bg-blue-700 transition ease-in duration-150 text-white font-bold py-2 px-4 rounded">
                        Se déconnecter
                    </a>
                </div>
            {% else %}
                <p>Vous n'êtes pas connecté.</p>
                <div class="mt-4">
                    <a href="{{ path('app_login') }}" class="bg-blue-500 hover:bg-blue-700 transition ease-in duration-150 text-white font-bold py-2 px-4 rounded">
                        Se connecter
                    </a>
                </div>
                <div class="mt-4">
                    <a href="{{ path('app_register') }}" class="bg-blue-500 hover:bg-blue-700 transition ease-in duration-150 text-white font-bold py-2 px-4 rounded">
                        Créer un compte
                    </a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_ORGANIZER') %}
                <div class="mt-4">
                    <a href="toset" class="bg-blue-500 hover:bg-blue-700 transition ease-in duration-150 text-white font-bold py-2 px-4 rounded">
                        Créer un championnat
                    </a>
                </div>
                <div class="mt-4">
                    <a href="{{ path("app_control_panel") }}" class="bg-blue-500 hover:bg-blue-700 transition ease-in duration-150 text-white font-bold py-2 px-4 rounded">
                        Panneau de contrôle
                    </a>
                </div>
            {% endif %}
        </div>

        <!-- Right panel - Content -->
        <div class="bg-blue-300 text-white flex-[6]">
            CCCC
        </div>

    </div>
</div>
{% endblock %}
